@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --container-size: 1200px;
    --container-size-small: 1064px;
  }
}

@layer utilities {
  .slide-center-card {
    transform: translateX(
      calc(
        max(var(--container-size-small), 100vw) / 2 -
          calc(var(--container-size-small) / 2)
      )
    );
  }
  .slide-center-text {
    transform: translateX(
        calc(
          max(var(--container-size), 100vw) / 2 -
            calc(var(--container-size) / 2)
        )
      )
      translateY(50px);
  }
  .slide-center {
    transform-origin: center;
    transform: translateX(
        calc(
          max(var(--container-size), 100vw) / 2 -
            calc(var(--container-size) / 2)
        )
      )
      translateY(50px);
    opacity: 0;
  }
  .ease-custom {
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }
  .left-cp-content {
    transform: translateX(calc(max(1070px, 100vw) / 2 - calc(1070px / 2)));
  }
}

@keyframes scroll {
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@layer utilities {
  .clip-video {
    clip-path: inset(10% 0 10% 0);
  }
}

.initial-hidden {
  opacity: 0;
  transform: translateX(-10px);
}

.search-button {
  color: #393939;
  transition: color 0.3s ease;
  cursor: pointer;
}

.search-button:hover,
.search-button.active {
  color: #ffcc00;
}

.bag-container {
  position: relative;
  cursor: pointer;
}

.bag-button {
  color: #1d1d1f;
  transition: color 0.3s ease;
}

.bag-button:hover,
.bag-button.active {
  color: #ffcc00;
}

.quantity-indicator {
  background-color: #1d1d1f;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.quantity-indicator:hover,
.quantity-indicator.active {
  background-color: #ffcc00;
  color: white;
}

/* Estilos para el hover del contenedor que afectan a ambos componentes */
.bag-container:hover .bag-button,
.bag-container:hover .quantity-indicator {
  color: #ffcc00;
}

.bag-container:hover .quantity-indicator {
  background-color: #ffcc00;
  color: white;
}

.scrolling-text {
  display: flex;
  white-space: nowrap;
  animation: scroll 35s linear infinite;
  transition: animation-play-state ease-in-out;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.custom-grid-title {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  position: absolute;
  text-align: center;
  transform: translateY(8px);
}

.custom-grid-des {
  display: grid;
  grid-template-columns: repeat(5, 170px);
  position: absolute;
  text-align: center;
  margin-top: 0px;
  transform: translateY(490px);
}

.text-shift-down-12 {
  transform: translateY(45px);
  opacity: 0;
}

.text-shift-down-SE {
  transform: translateY(40px);
  opacity: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.hoverable-text {
  color: #6e6e73;
  transform: scale(1);
  font-weight: 400;
  transition: color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
}

.hoverable-text:hover {
  color: #1d1d1f;
  transform: scale(1.1);
  font-weight: 500;
}

.custom-list-item-star,
.custom-list-item-doublestar,
.custom-list-item-number,
.custom-list-item-number-four {
  position: relative;
}

.custom-list-item-star::before,
.custom-list-item-doublestar::before,
.custom-list-item-number::before,
.custom-list-item-number-four::before {
  position: absolute;
  left: 0;
  width: 20px;
  text-align: right;
  color: #6e6e73;
}

.custom-list-item-star::before {
  content: "*";
}

.custom-list-item-doublestar::before {
  content: "**";
}

.custom-list-item-number::before {
  content: "3.";
}

.custom-list-item-number-four::before {
  content: "4.";
}
